<section style="background-color: #eee;">
    <div class="text-center container py-5">
      <h1 class="mt-4 mb-5 text-center">POLO T-SHIRTS</h1>
      <div class="border"></div>
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://5.imimg.com/data5/SELLER/Default/2021/2/YU/GO/OH/86796283/11457001387060-ether-men-tshirts-8491457001386078-1-500x500.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-primary ms-2">New</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">White POLO T-Shirt</h5>
              </a>
              <a href="" class="text-reset">
                <p>Polo T-shirts</p>
              </a>
              <h2 class="mb-3">Rs 250</h2>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://www.xtees.com/uploads/products/images/primary/black-plain-collar-polo-t-shirt_1611572809.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-success ms-2">best sellers</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Black POLO T-Shirt</h5>
              </a>
              <a href="" class="text-reset">
                <p>Polo T-shirts</p>
              </a>
              <h2 class="mb-3">Rs 250</h2>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://ae01.alicdn.com/kf/H0bf4531dc48345a8b3c4ba415a614fd0Y/Top-Grade-New-Summer-Brand-Striped-Embroidery-Mens-Designer-Polo-Shirts-With-Short-Sleeve-Casual-Tops.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Multi Color Polo T-Shirt</h5>
              </a>
              <a href="" class="text-reset">
                <p>Polo T-Shirts</p>
              </a>
              <h2 class="mb-3">
                <s>Rs-400</s><strong class="ms-2 text-danger">Rs-360</strong>
              </h2>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://www.beyoung.in/api/cache/catalog/products/polo_new_update_images_10_1_2022/rose_pink_polo_t-shirt_base_13_05_2023_700x933.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <!-- <span class="badge bg-success ms-2">offer</span> -->
                      <span class="badge bg-danger ms-2">-10%</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Pink Polo T-shirt</h5>
              </a>
              <a href="" class="text-reset">
                <p>Polo T-shirts</p>
              </a>
              <h2 class="mb-3">
                <s>Rs-400</s><strong class="ms-2 text-danger">Rs-360</strong>
              </h2>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://m.media-amazon.com/images/I/41RS1KyoKEL.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100"></div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Custom Design Front</h5>
              </a>
              <a href="" class="text-reset">
                <p>Polo T-shirts</p>
              </a>
              <h2 class="mb-3">Rs-349</h2>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://5.imimg.com/data5/LW/NR/QJ/SELLER-31441454/corporate-polo-t-shirt-printing-service-500x500-1--1000x1000.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <span class="badge bg-primary ms-2">New</span><span
                        class="badge bg-success ms-2">offer</span><span class="badge bg-danger ms-2">-10%</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Custom Design Front and Back</h5>
              </a>
              <a href="" class="text-reset">
                <p>Polo T-shirts</p>
              </a>
              <h2 class="mb-3">
                <s>Rs-450</s><strong class="ms-2 text-danger">Rs-405</strong>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>