<div style="width: 100%">
    <h1 style="text-decoration: none; border-bottom: 1px solid #eac300">
        OUR CUSTOMERS
    </h1>
    <div class="slider">
        <div class="slide-track">
    <!--  slides   -->
        <div class="slide">
            <img src="./assets/customer-iare.png" alt="customer1" >
        </div>
        <div class="slide">
            <img src="./assets/customer-vnrvjiet.webp" alt="customer2" >
        </div>
        <div class="slide">
            <img src="./assets/customer-mlrit.jfif" alt="customer3" >
        </div>
        <div class="slide">
            <img src="./assets/customer-vits.png" alt="customer4" >
        </div>
        <div class="slide">
            <img src="./assets/customer-bvrith.png" alt="customer5" >
        </div>
        <div class="slide">
            <img src="./assets/customer-sriindu.jfif" alt="customer6" >
        </div>
        <div class="slide">
            <img src="./assets/customer-mlritm.jpg" alt="customer7" >
        </div>
        <div class="slide">
            <img src="./assets/customer-mvsr.jfif" alt="customer8" >
        </div>
        <div class="slide">
            <img src="./assets/customer-rishi.jfif" alt="customer9" >
        </div>
        <div class="slide">
            <img src="./assets/customer-bvrit.png" alt="customer10" >
        </div>
        <div class="slide">
            <img src="./assets/customer-jbiet.jpg" alt="customer11" >
        </div>
    <!-- same slides doubled  -->
        <div class="slide">
            <img src="./assets/customer-iare.png" alt="customer1" >
        </div>
        <div class="slide">
            <img src="./assets/customer-vnrvjiet.webp" alt="customer2" >
        </div>
        <div class="slide">
            <img src="./assets/customer-mlrit.jfif" alt="customer3" >
        </div>
        <div class="slide">
            <img src="./assets/customer-vits.png" alt="customer4" >
        </div>
        <div class="slide">
            <img src="./assets/customer-bvrith.png" alt="customer5" >
        </div>
        <div class="slide">
            <img src="./assets/customer-sriindu.jfif" alt="customer6" >
        </div>
        <div class="slide">
            <img src="./assets/customer-mlritm.jpg" alt="customer7" >
        </div>
        <div class="slide">
            <img src="./assets/customer-mvsr.jfif" alt="customer8" >
        </div>
        <div class="slide">
            <img src="./assets/customer-rishi.jfif" alt="customer9" >
        </div>
        <div class="slide">
            <img src="./assets/customer-bvrit.png" alt="customer10" >
        </div>
        <div class="slide">
            <img src="./assets/customer-jbiet.jpg" alt="customer11" >
        </div>
        </div>
    </div>
</div>