<mdb-carousel [controls]="true" [indicators]="false" [dark]="true" [animation]="'fade'">
  <mdb-carousel-item>
    <img
      src= "./assets/signdayimg1.png"
      class="d-block w-100"
      alt="Signature Day image"
    />
    <div class="carousel-caption d-none d-md-block">
      <h4>VNR VJIET, Hyderabad</h4>
      <p>Get Signature Day T-shirts Just for RS 170/-</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
    src= "./assets/signdayimg2.png"
      class="d-block w-100"
      alt="Signature Day image"
    />
    <div class="carousel-caption d-none d-md-block">
      <h4>VITS, Hyderabad</h4>
      <p>We give the best quality...</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
    src= "./assets/signdayimg3.png"
      class="d-block w-100"
      alt="Signature Day image" id="signimg3"
    />
    <div class="carousel-caption d-none d-md-block">
      <h4>BVRIT, Narsapoor</h4>
      <p>We provide Services across Hyderabad</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
