mdb-carousel-item{
    height: 400px;
    width: 60%;
    margin-left: 20%;
}

.carousel-caption{
    color: #000000;
    font-size: 20px;
    font-weight: 4rem;
    background-color: rgba(255, 253, 253,0.5);
}

#signimg3{
    position: absolute;
    top: -180px;
}