<section style="background-color: #eee;">
    <div class="text-center container py-5">
      <h1 class="mt-4 mb-5 text-center">CUSTOMIZED GIFTS</h1>
      <div class="border"></div>
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://5.imimg.com/data5/SX/RC/MY-34515906/customised-cap-500x500.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-primary ms-2">New</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Custom Black Cap</h5>
              </a>
              <a href="" class="text-reset">
                <p>Caps</p>
              </a>
              <h2 class="mb-3">Rs-150</h2>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                data-mdb-ripple-color="light">
                <img src="https://5.imimg.com/data5/QU/IP/JW/SELLER-780705/customized-caps-500x500.png"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <!-- <h5><span class="badge bg-primary ms-2">New</span></h5> -->
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Custom Red Cap</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Caps</p>
                </a>
                <h2 class="mb-3">Rs-150</h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                data-mdb-ripple-color="light">
                <img src="https://cdn.shopify.com/s/files/1/0549/0966/5469/products/customwashedcapblack.jpg?v=1667496231"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <!-- <h5><span class="badge bg-primary ms-2">New</span></h5> -->
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Custom White Cap</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Caps</p>
                </a>
                <h2 class="mb-3">Rs-150</h2>
              </div>
            </div>
          </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://tiimg.tistatic.com/fp/2/006/163/promotional-bags-with-customized-logo-964.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-success ms-2">offer</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Hand Bags</h5>
              </a>
              <a href="" class="text-reset">
                <p>Bags</p>
              </a>
              <h2 class="mb-3">Rs-999</h2>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                data-mdb-ripple-color="light">
                <img src="https://images.prismic.io/rushordertees-web/6d88c404-cb6d-4841-90b8-4db8a133b2ab_Tote+Bags.jpg?auto=compress,format&rect=0,0,1600,1800&w=800&h=900"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-success ms-2">offer</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Jute Bags</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Bags</p>
                </a>
                <h2 class="mb-3">Rs-499</h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                data-mdb-ripple-color="light">
                <img src="https://www.printland.in/media/catalog/product/cache/1/small_image/284x426/9df78eab33525d08d6e5fb8d27136e95/2/2/22_12_23.png"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-success ms-2">offer</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Custom Bags</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Bags</p>
                </a>
                <h2 class="mb-3">Rs-1599</h2>
              </div>
            </div>
          </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://i.etsystatic.com/10727637/r/il/afc500/3676633540/il_fullxfull.3676633540_r8rt.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Custom Bottles</h5>
              </a>
              <a href="" class="text-reset">
                <p>Bottles</p>
              </a>
              <h2 class="mb-3">
                <s>Rs-199</s><strong class="ms-2 text-danger">Rs-189</strong>
              </h2>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://i.etsystatic.com/35365067/r/il/b01430/4037139909/il_fullxfull.4037139909_ixfp.jpg"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Custom Bottles</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Bottles</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-199</s><strong class="ms-2 text-danger">Rs-189</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://cdn.shopify.com/s/files/1/0653/0075/8777/products/IMG-20220627-WA0042.jpg?v=1656321680"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Custom Bottles</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Bottles</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-199</s><strong class="ms-2 text-danger">Rs-189</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://cmbrand-s3-bucket.s3.eu-west-2.amazonaws.com/wp-content/uploads/2019/07/13190634/Digital-Printing.png"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Printed Pens</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Pens</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-99</s><strong class="ms-2 text-danger">Rs-89</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://images-cdn.ubuy.co.in/634f190f39385449bd051475-promotional-classic-spark-pen-printed.jpg"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Printed Pens</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Pens</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-99</s><strong class="ms-2 text-danger">Rs-89</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://i.etsystatic.com/20901859/r/il/cac42b/4664848967/il_fullxfull.4664848967_t9ym.jpg"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Printed Pens</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Pens</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-99</s><strong class="ms-2 text-danger">Rs-89</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://static.connect2india.com/c2icd/product_resources/images/election-printed-badges.jpg"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Badges</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Badges</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-69</s><strong class="ms-2 text-danger">Rs-59</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://5.imimg.com/data5/SG/BQ/MY-1483222/b1032595242-250x250.jpg"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Badges</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Badges</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-69</s><strong class="ms-2 text-danger">Rs-59</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://www.primaryteaching.co.uk/prodimg/sowbadge_1_Large.jpg"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Badges</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Badges</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-69</s><strong class="ms-2 text-danger">Rs-59</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://cms.cloudinary.vpsvc.com/image/upload/c_scale,dpr_auto,f_auto,q_auto:good,w_900/India%20LOB/Photo%20Gifts/Custom%20Mugs/IN_Custom-Mug-White_Overview"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Cups</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Cups</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-199</s><strong class="ms-2 text-danger">Rs-189</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://www.oikotaantees.in/wp-content/uploads/2021/10/YOUR-DESIGN-HERE-3-1.png"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Cups</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Cups</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-199</s><strong class="ms-2 text-danger">Rs-189</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://www.qualitylogoproducts.com/custom-mugs/ceramic-campfire-coffee-mug-hq-693496.jpg"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Cups</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Cups</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-199</s><strong class="ms-2 text-danger">Rs-189</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://files.printo.in/site/20230202_180305102825_a6efcb_Coporate-ID-card.jpg"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">I'd Cards</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Cards</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-159</s><strong class="ms-2 text-danger">Rs-149</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://img3.exportersindia.com/product_images/bc-full/2020/12/7887427/id-card-printing-services-1607939557-5656466.jpeg"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Cards</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Cards</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-159</s><strong class="ms-2 text-danger">Rs-149</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://img1.exportersindia.com/product_images/bc-full/dir_186/5569981/id-cards-1520789579-3711192.jpeg"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Card Tags</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Tags</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-69</s><strong class="ms-2 text-danger">Rs-59</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://5.imimg.com/data5/SELLER/Default/2022/4/HX/RJ/YI/76882312/customized-magic-pillow-500x500.jpg"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Pillows</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Pillows</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-299</s><strong class="ms-2 text-danger">Rs-289</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://cdn.shopify.com/s/files/1/1875/4839/products/16x16_600x600_Frant.jpg?v=1510898555"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Pillow</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Pillow</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-299</s><strong class="ms-2 text-danger">Rs-289</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://cdn.togetherv.com/happy-anniversary-white-aubergine-personalised-printed-cushion-main_1655706109.webp"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Pillow</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Pillow</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-299</s><strong class="ms-2 text-danger">Rs-289</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://5.imimg.com/data5/BD/GV/MY-37215830/sublimation-stone-photo-frame.jpg"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Stone Frames</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Frames</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-399</s><strong class="ms-2 text-danger">Rs-379</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://www.cyberkart.in/wp-content/uploads/2019/11/rock-stone.jpg"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Stone Frames</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Frames</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-399</s><strong class="ms-2 text-danger">Rs-379</strong>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://play-lh.googleusercontent.com/rgmGikMT8R9-64MrffaBEGLWwXRBpOTlVqg3GrBJV-PUySR3bkSuplrN_na9IVbNOw"
                  class="w-100" />
                <a href="#!">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                <a href="" class="text-reset">
                  <h5 class="card-title mb-3">Phone Cases</h5>
                </a>
                <a href="" class="text-reset">
                  <p>Phone Cases</p>
                </a>
                <h2 class="mb-3">
                  <s>Rs-199</s><strong class="ms-2 text-danger">Rs-189</strong>
                </h2>
              </div>
            </div>
          </div>
        
      </div>
    </div>
  </section>