<div style="width: 100%">
    <h1 style="text-decoration: none;">
        OUR HIGHLIGHTS
    </h1>
    <div class="border"></div>
    <div class="slider">
        <div class="slide-track">
    <!--  slides   -->
        <div class="slide">
            <img src="./assets/highlight1.png" alt="highlight1" >
        </div>
        <div class="slide">
            <img src="./assets/highlight2.png" alt="highlight2" >
        </div>
        <div class="slide">
            <img src="./assets/highlight3.png" alt="highlight3" >
        </div>
    <!-- same slides doubled  -->
        <div class="slide">
            <img src="./assets/highlight1.png" alt="highlight1" >
        </div>
        <div class="slide">
            <img src="./assets/highlight2.png" alt="highlight2" >
        </div>
        <div class="slide">
            <img src="./assets/highlight3.png" alt="highlight3" >
        </div>
        </div>
    </div>
</div>