<section style="background-color: #fff">
  <div class="container py-5">
    <h1 class="mb-5" style=" text-decoration: none; border-bottom:1px solid #eac300;">PRINTED ACCESSORIES</h1>
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img src="./assets/accessories-bottles.jpg" class="catalogue-img" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.2)">
              <div class="d-flex justify-content-start align-items-start">
                <h5>
                  <span class="badge bg-light pt-2 ms-3 mt-3 text-dark"
                    >BOTTLES</span
                  >
                </h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div
                class="mask"
                style="background-color: rgba(253, 253, 253, 0.15)"
              ></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img
            src="./assets/accessories-caps.png"
            class="catalogue-img"
            style="filter: brightness(120%)"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.1)">
              <div class="d-flex justify-content-start align-items-start">
                <h5>
                  <span class="badge bg-light pt-2 ms-3 mt-3 text-dark"
                    >CAPS</span
                  >
                </h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div
                class="mask"
                style="background-color: rgba(253, 253, 253, 0.15)"
              ></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img src="./assets/accessories-bags.webp" class="catalogue-img" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.1)">
              <div class="d-flex justify-content-start align-items-start">
                <h5>
                  <span class="badge bg-light pt-2 ms-3 mt-3 text-dark"
                    >BAGS</span
                  >
                </h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div
                class="mask"
                style="background-color: rgba(253, 253, 253, 0.15)"
              ></div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">
        <div
          class="bg-image hover-zoom ripple shadow-1-strong rounded ripple-surface"
        >
          <img src="./assets/accessories-idcards.jpg" class="catalogue-img" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.1)">
              <div class="d-flex justify-content-start align-items-start">
                <h5>
                  <span class="badge bg-light pt-2 ms-3 mt-3 text-dark"
                    >ID-CARDS</span
                  >
                </h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div
                class="mask"
                style="background-color: rgba(253, 253, 253, 0.15)"
              ></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img
            src="./assets/accessories-badges.jpg"
            class="catalogue-img"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.1)">
              <div class="d-flex justify-content-start align-items-start">
                <h5>
                  <span class="badge bg-light pt-2 ms-3 mt-3 text-dark"
                    >BADGES</span
                  >
                </h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div
                class="mask"
                style="background-color: rgba(253, 253, 253, 0.15)"
              ></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img
            src="./assets/accessories-stoneframes.webp"
            class="catalogue-img"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.1)">
              <div class="d-flex justify-content-start align-items-start">
                <h5>
                  <span class="badge bg-light pt-2 ms-3 mt-3 text-dark"
                    >STONE FRAMES</span
                  >
                </h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div
                class="mask"
                style="background-color: rgba(253, 253, 253, 0.15)"
              ></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img
            src="./assets/accessories-cups.webp"
            class="catalogue-img"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.1)">
              <div class="d-flex justify-content-start align-items-start">
                <h5>
                  <span class="badge bg-light pt-2 ms-3 mt-3 text-dark"
                    >CUPS</span
                  >
                </h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div
                class="mask"
                style="background-color: rgba(253, 253, 253, 0.15)"
              ></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img
            src="./assets/accessories-phonecases.jpg"
            class="catalogue-img"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.1)">
              <div class="d-flex justify-content-start align-items-start">
                <h5>
                  <span class="badge bg-light pt-2 ms-3 mt-3 text-dark"
                    >PHONE CASES</span
                  >
                </h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div
                class="mask"
                style="background-color: rgba(253, 253, 253, 0.15)"
              ></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img
            src="./assets/accessories-pens.avif"
            class="catalogue-img"
            style="filter: brightness(125%)"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.1)">
              <div class="d-flex justify-content-start align-items-start">
                <h5>
                  <span class="badge bg-light pt-2 ms-3 mt-3 text-dark"
                    >PENS</span
                  >
                </h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div
                class="mask"
                style="background-color: rgba(253, 253, 253, 0.15)"
              ></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
