<section style="background-color: #fff">
  <div class="container py-5">
    <h1 class="mb-5" style=" text-decoration: none; border-bottom:1px solid #eac300; "><strong>CATALOGUE</strong></h1>
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img src="./assets/Catalogue-T-shirts.webp" class="catalogue-img" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.2)">
              <div class="d-flex justify-content-start align-items-start">
                <h5>
                  <span class="badge bg-light pt-2 ms-3 mt-3 text-dark"
                    >T-SHIRTS</span
                  >
                </h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div
                class="mask"
                style="background-color: rgba(253, 253, 253, 0.15)"
              ></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img
            src="./assets/Catalogue-Shirts.png"
            class="catalogue-img"
            style="filter: brightness(120%)"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.1)">
              <div class="d-flex justify-content-start align-items-start">
                <h5>
                  <span class="badge bg-light pt-2 ms-3 mt-3 text-dark"
                    >SHIRTS</span
                  >
                </h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div
                class="mask"
                style="background-color: rgba(253, 253, 253, 0.15)"
              ></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img src="./assets/Catalogue-Hoodies.jpg" class="catalogue-img" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.1)">
              <div class="d-flex justify-content-start align-items-start">
                <h5>
                  <span class="badge bg-light pt-2 ms-3 mt-3 text-dark"
                    >HOODIES</span
                  >
                </h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div
                class="mask"
                style="background-color: rgba(253, 253, 253, 0.15)"
              ></div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">
        <div
          class="bg-image hover-zoom ripple shadow-1-strong rounded ripple-surface"
        >
          <img src="./assets/Catalogue-Sweatshirts.jpg" class="catalogue-img" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.1)">
              <div class="d-flex justify-content-start align-items-start">
                <h5>
                  <span class="badge bg-light pt-2 ms-3 mt-3 text-dark"
                    >SWEAT SHIRTS</span
                  >
                </h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div
                class="mask"
                style="background-color: rgba(253, 253, 253, 0.15)"
              ></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img
            src="./assets/Catalogue-Promotional-Tshirts.jpg"
            class="catalogue-img"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.1)">
              <div class="d-flex justify-content-start align-items-start">
                <h5>
                  <span class="badge bg-light pt-2 ms-3 mt-3 text-dark"
                    >PROMOTIONAL T-SHIRTS</span
                  >
                </h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div
                class="mask"
                style="background-color: rgba(253, 253, 253, 0.15)"
              ></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img
            src="./assets/Catalogue-SignatureDay-Tshirts.png"
            class="catalogue-img"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.1)">
              <div class="d-flex justify-content-start align-items-start">
                <h5>
                  <span class="badge bg-light pt-2 ms-3 mt-3 text-dark"
                    >SIGNATURE DAY T-SHIRTS</span
                  >
                </h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div
                class="mask"
                style="background-color: rgba(253, 253, 253, 0.15)"
              ></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
