<section style="background-color: #eee;">
    <div class="text-center container py-5">
      <h1 class="mt-4 mb-5 text-center">HOODIES</h1>
      <div class="border"></div>
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://images.squarespace-cdn.com/content/v1/5be4ec7b7c93270e85892409/1601248169235-NVUS5S0ERZ7XKIERX4ZK/Black+Zipper+ZYIA+Hoodie+Sweatshirt.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-primary ms-2">New</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Custom Logo Zipper Black Hoodie</h5>
              </a>
              <a href="" class="text-reset">
                <p>Zipper Hoodies</p>
              </a>
              <h2 class="mb-3">Rs 899</h2>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://i.pinimg.com/736x/74/ca/2e/74ca2e824e25112eaef8d98d4ab8cb7e--grey-sweatshirt-zip-hoodie.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-success ms-2">best sellers</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Custom Logo Zipper Grey Hoodie</h5>
              </a>
              <a href="" class="text-reset">
                <p>Zipper Hoodies</p>
              </a>
              <h2 class="mb-3">Rs 899</h2>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://myer-media.com.au/wcsstore/MyerCatalogAssetStore/images/70/705/3856/100/1/986197960/986197960_1_1_720x928.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Custom Logo Zipper Blue Hoodie</h5>
              </a>
              <a href="" class="text-reset">
                <p>Zipper Hoodies</p>
              </a>
              <h2 class="mb-3">
                <s>Rs-999</s><strong class="ms-2 text-danger">Rs-899</strong>
              </h2>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/20478588/2022/10/20/2efae8f5-8d01-4952-9bad-f39fca3e134c1666258230870LilTomatoesGirlsCottonFleeceSweatshirt1.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <!-- <span class="badge bg-success ms-2">offer</span> -->
                      <span class="badge bg-danger ms-2">-10%</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Custom Black Hoodie</h5>
              </a>
              <a href="" class="text-reset">
                <p>Zipless Hoodies</p>
              </a>
              <h2 class="mb-3">
                <s>Rs-999</s><strong class="ms-2 text-danger">Rs-899</strong>
              </h2>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://media2.newlookassets.com/i/newlook/847273304/girls/girls-clothing/girls-hoodies-sweatshirts/girls-grey-new-york-logo-long-hoodie.jpg?strip=true&qlt=50&w=720"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100"></div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Custom Grey Hoodie</h5>
              </a>
              <a href="" class="text-reset">
                <p>Zipless Hoodies</p>
              </a>
              <h2 class="mb-3">Rs-899</h2>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://i.etsystatic.com/19810771/r/il/c5eed1/3762441398/il_fullxfull.3762441398_6pvo.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <span class="badge bg-primary ms-2">New</span><span
                        class="badge bg-success ms-2">offer</span><span class="badge bg-danger ms-2">-10%</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Embroidery Hoodies</h5>
              </a>
              <a href="" class="text-reset">
                <p>Zipless Hoodies</p>
              </a>
              <h2 class="mb-3">
                <s>Rs-1099</s><strong class="ms-2 text-danger">Rs-989</strong>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>