<section style="background-color: #eee;">
    <div class="text-center container py-5">
      <h1 class="mt-4 mb-5 text-center">COTTON T-SHIRTS</h1>
      <div class="border"></div>
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://tiimg.tistatic.com/fp/1/007/878/casual-wear-comfortable-round-neck-plain-pure-white-round-neck-t-shirt-for-men-664.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-primary ms-2">New</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Round Neck White T-Shirt</h5>
              </a>
              <a href="" class="text-reset">
                <p>T-shirts</p>
              </a>
              <h2 class="mb-3">Rs 250</h2>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://www.xtees.com/uploads/products/images/primary/black-plain-round-neck-t-shirt_1654814541.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-success ms-2">best sellers</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Round Neck Black T-Shirt</h5>
              </a>
              <a href="" class="text-reset">
                <p>T-shirts</p>
              </a>
              <h2 class="mb-3">Rs 250</h2>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://m.media-amazon.com/images/I/71Xgxy8zdvL._UL1500_.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Round Neck Grey T-Shirt</h5>
              </a>
              <a href="" class="text-reset">
                <p>T-Shirts</p>
              </a>
              <h2 class="mb-3">
                <s>Rs-250</s><strong class="ms-2 text-danger">Rs-225</strong>
              </h2>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://5.imimg.com/data5/AN/CO/MY-21050276/stylish-round-neck-t-shirt-1000x1000.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <!-- <span class="badge bg-success ms-2">offer</span> -->
                      <span class="badge bg-danger ms-2">-10%</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Round Neck Navy Blue</h5>
              </a>
              <a href="" class="text-reset">
                <p>T-shirts</p>
              </a>
              <h2 class="mb-3">
                <s>Rs-250</s><strong class="ms-2 text-danger">Rs-225</strong>
              </h2>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://www.beyoung.in/api/cache/catalog/products/images_for_customized_products_26_4_2022/custom_t-shirt_men_base_26_4_2022_400x533.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100"></div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Custom Design</h5>
              </a>
              <a href="" class="text-reset">
                <p>T-shirts</p>
              </a>
              <h2 class="mb-3">Rs-349</h2>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://i0.wp.com/www.gypsystreet.in/wp-content/uploads/2020/01/soulmate.jpg?fit=1000%2C1000&ssl=1"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <span class="badge bg-primary ms-2">New</span><span
                        class="badge bg-success ms-2">offer</span><span class="badge bg-danger ms-2">-10%</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Couple T-shirts</h5>
              </a>
              <a href="" class="text-reset">
                <p>T-shirts</p>
              </a>
              <h2 class="mb-3">
                <s>Rs-1099</s><strong class="ms-2 text-danger">Rs-989</strong>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>