<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img src="./assets/stalwartlogo.png" alt="LOGO" id="mainlogo"></a>
        </div>
        <ul class="nav navbar-nav" style="display: inline" >
          <li>
            <a href ="#">
              <span mat-button [matMenuTriggerFor]="tshirts">T-shirts</span>
              <mat-menu #tshirts="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="polyster">
                  Polyster
                </button>
                <button mat-menu-item [matMenuTriggerFor]="polycotton">
                  PolyCotton
                </button>
                <button mat-menu-item [matMenuTriggerFor]="cotton">
                  Cotton
                </button>
                <button mat-menu-item [matMenuTriggerFor]="polotshirts">
                  POLO Tshirts
                </button>
              </mat-menu>

              <mat-menu #polyster="matMenu">
                <button mat-menu-item>Signature Day</button>
                <button mat-menu-item>Promotional</button>
                <button mat-menu-item>Custom Tshirts</button>
                <button mat-menu-item>Lord Ganesh</button>
                <button mat-menu-item>Animee</button>
              </mat-menu>

              <mat-menu #polycotton="matMenu">
                <button mat-menu-item>Signature Day</button>
                <button mat-menu-item>Promotional</button>
                <button mat-menu-item>Custom Tshirts</button>
                <button mat-menu-item>Lord Ganesh</button>
                <button mat-menu-item>Animee</button>
              </mat-menu>

              <mat-menu #cotton="matMenu">
                <button mat-menu-item>Promotional</button>
                <button mat-menu-item>Custom Tshirts</button>
                <button mat-menu-item>Lord Ganesh</button>
                <button mat-menu-item>Animee</button>
              </mat-menu>

              <mat-menu #polotshirts="matMenu">
                <button mat-menu-item>Promotional</button>
                <button mat-menu-item>Custom Tshirts</button>
                <button mat-menu-item>Coorporate</button>
              </mat-menu>
            </a>
          </li>
          <li>
            <a href="#">
              <span mat-button [matMenuTriggerFor]="shirts">Shirts</span>

              <mat-menu #shirts="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="polycotton">
                  PolyCotton
                </button>
                <button mat-menu-item [matMenuTriggerFor]="cotton">
                  Cotton
                </button>
              </mat-menu>

              <mat-menu #polycotton="matMenu">
                <button mat-menu-item>Signature Day</button>
                <button mat-menu-item>Promotional</button>
                <button mat-menu-item>Custom Tshirts</button>
                <button mat-menu-item>Lord Ganesh</button>
                <button mat-menu-item>Animee</button>
              </mat-menu>

              <mat-menu #cotton="matMenu">
                <button mat-menu-item>Promotional</button>
                <button mat-menu-item>Custom Tshirts</button>
                <button mat-menu-item>Lord Ganesh</button>
                <button mat-menu-item>Animee</button>
              </mat-menu>
            </a>
          </li>
          <li>
            <a href="#">
              <span mat-button [matMenuTriggerFor]="hoodies">Hoddies</span>

              <mat-menu #hoodies="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="withzip">
                  With ZIP
                </button>
                <button mat-menu-item [matMenuTriggerFor]="withoutzip">
                  Without ZIP
                </button>
              </mat-menu>

              <mat-menu #withzip="matMenu">
                <button mat-menu-item>Blue</button>
                <button mat-menu-item>Black</button>
                <button mat-menu-item>Grey</button>
                <button mat-menu-item>Navy blue</button>
                <button mat-menu-item>Custom Color</button>
              </mat-menu>

              <mat-menu #withoutzip="matMenu">
                <button mat-menu-item>Blue</button>
                <button mat-menu-item>Black</button>
                <button mat-menu-item>Grey</button>
                <button mat-menu-item>Navy blue</button>
                <button mat-menu-item>Custom Color</button>
              </mat-menu>
            </a>
          </li>
          <li>
            <a href="#">
              <span mat-button [matMenuTriggerFor]="accessories">Accessories</span>
              <mat-menu #accessories="matMenu">
                <button mat-menu-item>Caps</button>
                <button mat-menu-item>Bags</button>
                <button mat-menu-item>Water Bottels</button>
                <button mat-menu-item>Pens</button>
                <button mat-menu-item>Badges</button>
                <button mat-menu-item>Cups</button>
                <button mat-menu-item>Id Cards</button>
                <button mat-menu-item>Custom Gifts</button>
              </mat-menu>
            </a>
          </li>
        </ul>
        <div class="checkout">
          <a href="#">
          <span class="material-symbols-outlined">favorite</span>
          </a>
          <a href="#">
          <span class="material-symbols-outlined">shopping_cart_checkout</span>
          </a>
        </div>
        <div class="logbuttons">
          <input type="button" value="Login" class="login"/>
          <input type="button" value="Logout" class="logout"/>
        </div>
      </div>
    </nav>
    <marquee behavior="alternate" direction="right">  <h2>Use STALWART25 Coupon to get more 25% OFF</h2> </marquee>
</html>
