* {
  margin: 0px;
  padding: 0px;
  height: auto;
}

.offerline{
  height: 30px;
  background-color: black;
  color:#fff;
}

#mainlogo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 105%;
}

.navbar{
  // box-shadow: 0 0 100px 20px #eac300;
  background-color:#fff;
  min-height: 70px;
}

ul {
  width: 45%;
  display: flex;
}

li {
  margin-left: 5%;
}

li a span {
  font-size: large;
  padding: 10px;
  color: rgb(30, 28, 28);
  font-family: "Lato",sans-serif;
  font-size: 14px;
  font:inherit;
}

li a span:hover{
  background-color: #eac300;
}

.material-symbols-outlined {
  font-size: 25px;
  padding: 0px 15px 0px;
  color: black;
}

.material-symbols-outlined:hover {
  color: gray
}
.login{
  border-right:2px solid black !important;
}

.login,.signup{
  border: none;
  font-family: "Lato",sans-serif;
  font-size: 14px;
  width: 80px;
  padding: 10px;
  cursor: pointer;
}

.login:hover,.signup:hover {
  background-color:  #eac300;
}

marquee{
  font-family: inherit;
}
