<section style="background-color: #eee;">
    <div class="text-center container py-5">
      <h1 class="mt-4 mb-5 text-center">SHIRTS</h1>
      <div class="border"></div>
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://5.imimg.com/data5/YS/RU/SZ/SELLER-3749501/mens-shirts-500x500.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-primary ms-2">New</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">5 Combo Shirts</h5>
              </a>
              <a href="" class="text-reset">
                <p>Formal shirts</p>
              </a>
              <h2 class="mb-3">Rs 4999</h2>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://kandy-live.s3.ap-southeast-1.amazonaws.com/gallery/1984e4de21a79d37f236b477a8670a18491f1b84.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-success ms-2">best sellers</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Blue Formal Shirt</h5>
              </a>
              <a href="" class="text-reset">
                <p>Formal T-shirts</p>
              </a>
              <h2 class="mb-3">Rs 799</h2>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://www.jiomart.com/images/product/330x410/rvtkwaa7f5/bluecorp-enterprise-men-regular-fit-floral-print-cut-away-collar-casual-shirt-product-images-rvtkwaa7f5-0-202211291721.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Printed Shirt</h5>
              </a>
              <a href="" class="text-reset">
                <p>Shirts</p>
              </a>
              <h2 class="mb-3">
                <s>Rs-500</s><strong class="ms-2 text-danger">Rs-450</strong>
              </h2>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://img.shpy.in/169297/1653131508870_SKU-0058_0.jpg?width=600"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <!-- <span class="badge bg-success ms-2">offer</span> -->
                      <span class="badge bg-danger ms-2">-10%</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">4 Combo Shirts</h5>
              </a>
              <a href="" class="text-reset">
                <p>Casual Shirts</p>
              </a>
              <h2 class="mb-3">
                <s>Rs-4449</s><strong class="ms-2 text-danger">Rs-3999</strong>
              </h2>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://images.bestsellerclothing.in/data/selected/17-mar-2022/190243501_g0.jpg?width=415&height=550&mode=fill&fill=blur&format=auto"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100"></div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Front Custom LOGO</h5>
              </a>
              <a href="" class="text-reset">
                <p>Custom Shirts</p>
              </a>
              <h2 class="mb-3">Rs-799</h2>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://cdn.shopify.com/s/files/1/0251/5179/9349/collections/hilo-633_1.png?v=1673419483"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <span class="badge bg-primary ms-2">New</span><span
                        class="badge bg-success ms-2">offer</span><span class="badge bg-danger ms-2">-10%</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Embroidery Shirts</h5>
              </a>
              <a href="" class="text-reset">
                <p>Custom Shirts</p>
              </a>
              <h2 class="mb-3">
                <s>Rs-1099</s><strong class="ms-2 text-danger">Rs-989</strong>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>