<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <!-- Footer -->
<footer class="text-center text-lg-start">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span style="color:  #eac300; font-size: 20px;">Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" id="products">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="color:  #eac300; font-size: 20px;">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Shirts</a>
            </p>
            <p>
              <a href="#!" class="text-reset">T-Shirts</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Hoodies</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Accessories</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" id="useful-links">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="color:  #eac300; font-size: 20px;" >
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Contact Us</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Catalogue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" id="contacts">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="color:  #eac300; font-size: 20px;" >Contact</h6>
            <p><i class="fas fa-home me-3"></i> K.P.H.B Colony, 500072, HYD</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              stalwartprints@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 91 630 39 325 39</p>
            <p><i class="fas fa-phone me-3"></i> + 91 701 33 514 09</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <div class="text-center">
        <h1  id="payments">100% SECURE PAYMENTS</h1>
        <img src="./assets/frame-payments.jpg" alt="payments-info" id="payments-info">
      </div>
      <div id="stalwartcontent">
        <!-- Content -->
        <h6 class="text-uppercase fw-bold mb-4" style="color:  #eac300; font-size: 20px;">
          <img src="./assets/stalwartlogo.png" style="width:40px; height:40px"><span style="padding: 0px 20px;">Stalwart Prints</span>
        </h6>
        <p>
          Established in 2022, manufacture and supply the best-quality range of T-shirts and Corporate Gift Accessories.
          Our range is high durable, made of quality raw-materials that have a long service life and cost-effective.These can be customized 
          and cal also be imprinted with various designs, messages and logos to give it more personaized look. Our products are used mainly for promotion by various establishments or as individual or coporate gifting options.
          These products come in plethora of colors, sizes, prints, designs and other specifications.
        </p><br>
        <p>
            Our range is quality-tested on different parameters in our in-house Quality control unit by our vigiliant quality controllers.
            Available in attractive prices,these are a mirror-image of the growing trends and thought processes of the young generation in our growing 
            economy.
        </p>
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);" id="copyright">
      © 2023 Copyright: www.stalwartprints.com | All rights reserved.
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</body>
</html>